## DESeq2 Results

Back in Python, we will use pandas to load the CSV file of DESeq2 results.

In [1]:
import pandas as pd

The results are a text table. This time, they're CSV with headers, making our lives easier.

In [4]:
results = pd.read_csv("1M.results.csv", index_col=0)
results

           baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
Q0010      0.000000             NaN       NaN       NaN       NaN       NaN
Q0017      0.000000             NaN       NaN       NaN       NaN       NaN
Q0032      0.000000             NaN       NaN       NaN       NaN       NaN
Q0045      0.000000             NaN       NaN       NaN       NaN       NaN
Q0050      0.000000             NaN       NaN       NaN       NaN       NaN
...             ...             ...       ...       ...       ...       ...
YPR201W    3.000149       -0.028737  2.403007 -0.011959  0.990458  0.999649
YPR202W    1.495094        0.971247  3.422096  0.283816  0.776551  0.999649
YPR203W    0.000000             NaN       NaN       NaN       NaN       NaN
YPR204C-A  0.000000             NaN       NaN       NaN       NaN       NaN
YPR204W    1.485132        3.998832  3.914070  1.021656  0.306944  0.999649

[6607 rows x 6 columns]

Now we can look for the most significant genes in this analysis.

In [5]:
results[results['padj'] < 0.1]

Empty DataFrame
Columns: [baseMean, log2FoldChange, lfcSE, stat, pvalue, padj]
Index: []

Even though our manual analysis was promising, this doesn't look good.

The problem is the lack of replicates! Without replicates, we greatly overestimate the noise in our measurements.

For instance, we can look up YAL004C and see a big fold-change, but also a big standard error in the fold-change estimate, so the final result is not significant.

In [7]:
results.loc['YAL005C']

baseMean          138.933250
log2FoldChange     -2.388613
lfcSE               2.002990
stat               -1.192523
pvalue              0.233056
padj                0.999649
Name: YAL005C, dtype: float64

When you run this yourself with replicates, it should be better.

You can also read in the "SGD_Features" table and annotate the results.